<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Settings.Properties.Settings>
            <setting name="serial_port" serializeAs="String">
                <value />
            </setting>
            <setting name="connection_timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="temperature_polling_interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="debug_mode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="save_date" serializeAs="String">
                <value>2017-06-30</value>
            </setting>
            <setting name="save_interval" serializeAs="String">
                <value>24.00:00:00</value>
            </setting>
            <setting name="select_port_on_start" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="connect_on_start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="save_folder" serializeAs="String">
                <value>.\</value>
            </setting>
        </Settings.Properties.Settings>
    </userSettings>
</configuration>